@model TESTMVCCORE.Models.Home.Model_Add
@{
	ViewData["Title"] = "Add";
}


<h4>Model_Add</h4>
@using (Html.BeginForm(FormMethod.Post, new { id = "frmEdit", @autocomplete = "off", @data_parsley_validate = "" }))
{
	@await Html.PartialAsync("_PartialSave", Model)

	<div>
		@* <button type="button" class="btn btn-primary" onclick="sendSave();">確認送出</button> *@
		<button type="submit" class="btn btn-primary">確認送出</button>
		<a class="btn btn-primary" href="@Url.Action("List")">返回</a>

	</div>
}
