@model TESTMVCCORE.Models.Home.Model_Add

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

@using (Html.BeginForm(FormMethod.Post, new { id = "frmEdit", @autocomplete = "off", @data_parsley_validate = "" }))
{
	@await Html.PartialAsync("_PartialSave", Model)
	<div>
		@Html.HiddenFor(model => model.Persona.Id)
		@* <button type="button" class="btn btn-primary" onclick="sendSave();">確認送出</button> *@
		<button type="submit" class="btn btn-primary">確認送出</button>

	</div>
}
