@model TESTMVCCORE.Models.Home.Model_Add
@{
}
@section Scripts {
	<script type="text/javascript">
		function savePersoona() {
			if(!$("#frmAdd").parsley().validate())
				return false;

			if (!confirm('確定修正?'))
				return false;

			let formData = getPersonaFormData();
			$.ajax({
				type: "POST",
				url: "@(Url.Action("Edit", "Home"))",
				// data: $("#frmAdd").serialize(),
				data: formData,
				contentType: false,
				processData: false,  // 必須設置為 false，以防止 jQuery 將 FormData 轉換為字符串  加了這個就不會Illegal invocation
				dataType: "json",
				success: function (response) {
					if (response.isSuccess) {
						alert('編輯成功!');
						window.location.href = '@(Url.Action("List"))';
					} else {
						alert(response.message);
					}
				},
				error: function (xhr, ajaxOptions, thrownError) {
					alert('編輯失敗!');

				}
			});
		}


	</script>
}

<h1>編輯</h1>
@using (Html.BeginForm(FormMethod.Post, new { id = "frmAdd", @autocomplete = "off", @data_parsley_validate = "" }))
{
	@await Html.PartialAsync("_PartialSave", Model)
	<div>
		@Html.HiddenFor(model => model.Persona.Id)
		<a class="btn btn-primary" onclick="savePersoona()">確認送出</a>
		<a class="btn btn-primary" href="@Url.Action("List")">返回</a>

	</div>
}
